{% extends 'base.html' %}

{% block content %}

<div>
  <h1>Edit a user</h1>
  <form class="">
    <div>
      <label for="first_name">First Name</label>
      <input 
        id="first_name"
        type="text" 
        name="first_name" 
        value ="{{ f_name }}">
    </div>
    <div>
      <label for="last_name">Last Name</label>
      <input 
        id="last_name"
        type="text" 
        name="last_name" 
        value ="{{ l_name }}">
    </div>
    <div>
      <label for="pic_url">Image URL</label>
      <input 
        id="pic_url"
        type="url" 
        name="pic_url" 
        value ="{{ url }}">
    </div>
    <div>
      <button
        formaction="/users/{{ user_id }}" 
        class="btn btn-success">Cancel
      </button>
      <button
        formaction='/users/{{ user_id }}/edit'
        formmethod="POST"
        class="btn btn-success">Save
      </button>
    </div>
  </form>
</div>

{% endblock %}