
{% extends 'base.html' %}

{% block content %}
<!-- edit_post testing string -->
<div>
  <h1>Edit Post </h1>
  <form>
    <div>
      <label for="title">Title</label>
      <input 
        id="title"
        type="text" 
        name="title"
        value="{{ post.title }}">
    </div>
    <div>
      <label for="content">Content</label>
      <input 
        id="content"
        type="text" 
        name="content"
        value="{{ post.content }}">
    </div>
    <div class="ml-auto">
      <button
        formaction="/users/{{ post.user_id }}" 
        class="btn btn-outline-success">Cancel
      </button>
      <button
        formaction= '/posts/{{ post.id }}/edit'
        formmethod="POST"
        class="btn btn-success">Save
      </button>
    </div>
  </form>
</div>

{% endblock %}