{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1>Edit a user</h1>
  <form action="/" class="form-control">
    <div class="container">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" value ="{{ }}">
    </div>
    <div class="container">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" value ="{{  }}">
    </div>
    <div class="container">
      <label for="img-url">Last Name</label>
      <input type="url" name="img-url" value ="{{ }}">
    </div>
    <div class="container">
      <button class="btn btn-outline-success" type="button">Cancel</button>
      <button class="btn btn-success" type="button">Save</button>
    </div>
  </form>
</div>

{% endblock %}