{% extends 'base.html' %}

{% block content %}

<div>
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}<br><br>
    By: {{ post.user.full_name }} 
  </p>
  <form class="mr-auto">
    <a
      href="/users/{{ post.user_id }}"
      class="btn btn-outline-primary">Back
    </a>
    <a
      href="/posts/{{ post.id }}/edit"
      class="btn btn-primary">Edit
    </a>
    <button
      formaction="/posts/{{ post.id }}/delete"
      formmethod="POST"
      class="btn btn-danger">Delete
    </button>
  </form>

{% endblock %}