{% extends 'base.html' %}

{% block content %}
<!-- user_detail -->
<div>
  <img class="img-fluid user-pic" src="{{ url }}" alt="profile image">
  <h1>{{ full_name }}</h1>
    <div>
      <form action="/users/{{ user_id }}/edit">
        <button class="btn btn-primary">Edit</button>
      </form>
      <form 
        action="/users/{{ user_id }}/delete" 
        method="POST" 
        class="">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
</div>


{% endblock %}

<!-- modify form actions -->